@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
}
body 
{
    width: 100%;
    max-width: 100%;
    background: #393E46;
    font-family:  'Roboto', sans-serif;
}
/*Barra de Titulo*/    
.container-header
{
    width: 100%;
    box-shadow: 0px 5px rgba(0, 0, 0,0.15   );
}
.navbar 
{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    
}
.itens-navbar
{
    padding: 10px;
    text-decoration: none;
    color: #00ADB5;
    font-size: 25px;
}
.itens-navbar strong
{
    font-size: .5em;
}
.ItensTitulos{
    text-align: right;
    margin-left: 50px;
    
}
.Nome
{
    padding-right: 100px;
    font-size: 25px;
    color: #00ADB5;
    display: inline;
}
section
{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/*Projetos*/
.Titulo{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}
  /*Projeto1*/

  .img__description 
{
    text-align: center;
    position: absolute;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    transition: opacity .2s, visibility .2s;
  }
.projetos img
{
width: 300px;
height: 300px;
border-radius: 50%;
}
.projetos{
    font-size: 30px;
    color: white;
}
  .Projeto
    {    
        position: relative;
        height: 175px;
        width: 350px; 
        margin-bottom: 100px;
        align-content: center;
        justify-content: center;
    }

  .Projeto:hover img
  {
        filter: brightness(0.3);
  }

  .Projeto:hover .img__description {
        visibility: visible;
        opacity: 1;
  }
  .Projeto a
  {
        font-family:  'Roboto', sans-serif;
        font-size: 20px;
  }
  
/*Projeto2*/
.img__description2 
{
    font-size: 100px;
    text-align: center;
    position: absolute;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    transition: opacity .2s, visibility .2s;
  }

  .Projeto2
    {    
        position: relative;
        height: 175px;
        width: 350px;    
    }

  .Projeto2:hover img
  {
        filter: brightness(0.3);
  }

  .Projeto2:hover .img__description2 {
        visibility: visible;
        opacity: 1;
  }
  .Projeto2 a
  {
        font-family:  'Roboto', sans-serif;
        font-size: 20px;
  }
  /*Projeto3*/

.img__description3 
{
    text-align: center;
    position: absolute;
    top: 1;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    transition: opacity .2s, visibility .2s;
  }

  .Projeto3
    {    
        position: relative;
        height: 175px;
        width: 350px;    
    }

  .Projeto3:hover img
  {
        filter: brightness(0.3);
  }

  .Projeto3:hover .img__description3 {
        visibility: visible;
        opacity: 1;
  }
  .Projeto3 a
  {
        font-family:  'Roboto', sans-serif;
        font-size: 20px;
  }





footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    text-align: center; 
    margin-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #222831;
    box-shadow: 0px -5px rgba(0, 0, 0,0.15   );
}
footer div
{
    margin  : 10px;
}